<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<body>
<h1>标准表达式语法</h1>
<pre>
Thymeleaf一共包含以下五种语法
    ${...} : 变量表达式.
    *{...} : 选择表达式.
    #{...} : 国际化信息表达式.
    @{...} : 链接表达式(URL).
    ~{...} : 片段表达式.
</pre>
<h2>变量表达式</h2>
<pre>
变量表达式就是OGNL表达式，或者SpringEL表达式（如果是Spring-Thymeleaf项目）
可以写为${session.user.name}
也可以写到标签的属性(或者属性的一部分)中
<script type='text/html' style='display:block'><span th:text="${book.author.name}"></script>
也可以用于复杂处理中
<xmp><li th:each="book:${books}></xmp>
</pre>
<hr/>
<h2>选择表达式</h2>
      <pre>
      选择表达式就是用某变量替换了全局变量
      <xmp><div th:object="${book}">
              <span th:text="*{title}">...</span>
           </div></xmp>
      以上相当于${book.title}。
      </pre>
<hr/>
<h2>国际化信息表达式</h2>
      <pre><script type='text/html' style='display:block'>
           <table>
              <th th:text="#{header.address.city}">...</th>
              <th th:text="#{header.address.country}">...</th>
           </table></script>
      也可以这样指定变量：#{${config.adminWelcomeKey}(${session.user.name})}
      </pre>
<hr/>
<h2>链接表达式</h2>
      <pre>
      如果应用程序部署名为/myapp，那么以下语句
      <script type='text/html' style='display:block'><a th:href="@{/order/list}">...</a></script>
      相当于：<script type='text/html' style='display:block'><a href="/myapp/order/list">...</a></script>
      如果需要在cookies未启用的情况下保持session：
      <script type='text/html' style='display:block'><a href="/myapp/order/list;jsessionid=23fa234asdf2156adsf8">...</a></script>
      URL也可以带上参数
      <script type='text/html' style='display:block'><a th:href="@{/order/details(id=${orderId},type=${orderType})}">...</a></script>
      相当于：<script type='text/html' style='display:block'><a href="/myapp/order/details?id=23&amp;type=online">...</a></script>
      也可以使用相对路径：<script type='text/html' style='display:block'><a th:href="@{../documents/report}">...</a></script>
      也可以使用绝对路径：<script type='text/html' style='display:block'><a th:href="@{//static.mycompany.com/res/initial}">...</a></script>
      还可以这样<script type='text/html' style='display:block'><a th:href="@{http://www.mycompany.com/main}">...</a></script>
      </pre>
<hr/>
<h2>字符和操作</h2>
      <pre>
      <h3>字符</h3>
      <ol>
      <li>文本字符：'one text','hello'</li>
      <li>数字字符：0,23,11,3.5</li>
      <li>布尔字符：true,false</li>
      <li>空字符：null</li>
      <li>字符标记：one,some,main,id</li>
      </ol>
      <h3>文本操作</h3>
      <ol>
      <li>字符拼接：+ </li>
      <li>字符替换：|The name is ${name}|</li>
      </ol>
      <h3>算术操作</h3>
      <ol>
      <li>二进制操作：+, -, *, /, % </li>
      <li>字符替换：|The name is ${name}|</li>
      </ol>
      <h3>布尔操作</h3>
      <ol>
      <li>二进制操作：and, or</li>
      <li>布尔否定：!, not</li>
      </ol>
      <h3>比较和等于</h3>
      <ol>
      <li>比较：>, <, >=, <= (gt, lt, ge, le) </li>
      <li>等于：==, != (eq, ne)</li>
      </ol>
      <h3>条件操作</h3>
      <ol>
      <li>if-then：(if) ? (then) </li>
      <li>if-then-else：(if) ? (then) : (else)</li>
      <li>默认：(value)?:(defaultValue)</li>
      </ol>
      </pre>
<hr/>
<h2>链接表达式</h2>
      <pre>
      如果应用程序部署名为/myapp，那么以下语句
      <script type='text/html' style='display:block'><a th:href="@{/order/list}">...</a></script>
      相当于：<script type='text/html' style='display:block'><a href="/myapp/order/list">...</a></script>
      如果需要在cookies未启用的情况下保持session：
      <script type='text/html' style='display:block'><a href="/myapp/order/list;jsessionid=23fa234asdf2156adsf8">...</a></script>
      URL也可以带上参数
      <script type='text/html' style='display:block'><a th:href="@{/order/details(id=${orderId},type=${orderType})}">...</a></script>
      相当于：<script type='text/html' style='display:block'><a href="/myapp/order/details?id=23&amp;type=online">...</a></script>
      也可以使用相对路径：<script type='text/html' style='display:block'><a th:href="@{../documents/report}">...</a></script>
      也可以使用绝对路径：<script type='text/html' style='display:block'><a th:href="@{//static.mycompany.com/res/initial}">...</a></script>
      还可以这样<script type='text/html' style='display:block'><a th:href="@{http://www.mycompany.com/main}">...</a></script>
      </pre>
<hr/>
</body>
</html>
