<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>

</head>
<body>
<h3>变量表达式  ${……}</h3>
<label>显示文本：</label><span th:text="${message}">Red Chair</span><br/>
<label>输入框：</label><input type="text" name="userName" value="James Carrot" th:value="${user.name}" />
<h3>选择/星号表达式 *{……}</h3>
<label>显示文本：</label>
<div th:object="${session.user}">
     <p>Nationality: <span th:text="*{nationality}">Saturn</span>.</p>
</div>
      <section>选择表达式一般跟在th:object后，直接取object中的属性。</section>
<h3>文字国际化表达式  #{……}</h3>
<label>国际化文本：</label><p th:utext="#{home.welcome}">Welcome to our grocery store!</p>

<h3>URL表达式  @{……}</h3>
<a href="details.html" th:href="@{/order/details(orderId=${o.id})}">view</a>
@{……}支持决定路径和相对路径。其中相对路径又支持跨上下文调用url和协议的引用（//code.jquery.com/jquery-2.0.3.min.js）。
　　　当URL为后台传出的参数时，代码如下
<img src="../../static/assets/images/qr-code.jpg" th:src="@{${path}}" alt="二维码" />

      <h1>常用的th标签</h1>

      <h3>简单数据转换（数字，日期）</h3>

 　　<dt>价格</dt>
  　 <dd th:text="${#numbers.formatDecimal(product.price, 1, 2)}">180</dd>
　　 <dt>进货日期</dt>
　　 <dd th:text="${#dates.format(product.availableFrom, 'yyyy-MM-dd')}">2014-12-01</dd>

      <h3>字符串拼接</h3>
<dd th:text="${'$'+product.price}">235</dd>
      <h3>转义和非转义文本</h3>
　　　　当后台传出的数据为“This is an &lt;em&gt;HTML&lt;/em&gt; text. &lt;b&gt;Enjoy yourself!&lt;/b&gt;”时，若页面代码如下则出现两种不同的结果
<div th:text="${html}">
　　This is an &lt;em&gt;HTML&lt;/em&gt; text. &lt;b&gt;Enjoy yourself!&lt;/b&gt;
</div> 
<div th:utext="${html}">
　　This is an <em>HTML</em> text. <b>Enjoy yourself!</b>
</div>

      <h3>表单中</h3>
<form th:action="@{/bb}" th:object="${user}" method="post" th:method="post">
    <input type="text" th:field="*{name}"/>
    <input type="text" th:field="*{msg}"/>
    <input type="submit"/>
</form>

      <h3>显示页面的数据迭代</h3>
//用 th:remove 移除除了第一个外的静态数据，用第一个tr标签进行循环迭代显示
　　　　<tbody th:remove="all-but-first">
　　　　　　　　　　//将后台传出的 productList 的集合进行迭代，用product参数接收，通过product访问属性值
                <tr th:each="product:${productList}">
　　　　　　　　　　　　//用count进行统计，有顺序的显示
　　　　　　　　　　　　<td th:text="${productStat.count}">1</td>
                    <td th:text="${product.description}">Red Chair</td>
                    <td th:text="${'$' + #numbers.formatDecimal(product.price, 1, 2)}">$123</td>
                    <td th:text="${#dates.format(product.availableFrom, 'yyyy-MM-dd')}">2014-12-01</td>
                </tr>
                <tr>
                    <td>White table</td>
                    <td>$200</td>
                    <td>15-Jul-2013</td>
                </tr>
                <tr>
                    <td>Reb table</td>
                    <td>$200</td>
                    <td>15-Jul-2013</td>
                </tr>
                <tr>
                    <td>Blue table</td>
                    <td>$200</td>
                    <td>15-Jul-2013</td>
                </tr>
      </tbody>

      <h3>条件判断</h3>
<span th:if="${product.price lt 100}" class="offer">Special offer!</span>
<label>不能用"<”，">"等符号，要用"lt"等替代</label>

<!-- 当gender存在时，选择对应的选项；若gender不存在或为null时，取得customer对象的name-->
<td th:switch="${customer.gender?.name()}">
    <img th:case="'MALE'" src="../../../images/male.png" th:src="@{/images/male.png}" alt="Male" /> <!-- Use "/images/male.png" image -->
    <img th:case="'FEMALE'" src="../../../images/female.png" th:src="@{/images/female.png}" alt="Female" /> <!-- Use "/images/female.png" image -->
    <span th:case="*">Unknown</span>
</td>
<hr/>
<!--在页面先显示，然后再在显示的数据基础上进行修改-->
<div class="form-group col-lg-6">
    <label>姓名</label>
 　　<!--除非resume对象的name属性值为null，否则就用name的值作为placeholder值-->
    <input type="text" class="form-control" th:unless="${resumes.name} eq '' or ${resumes.name} eq null"  
           data-required="true" th:placeholder="${resumes.name}" />
　　 <!--除非resume对象的name属性不为空，否则就定义一个field方便封装对象，并用placeholder提示-->
    <input type="text" th:field="${resume.name}" class="form-control" th:unless="${resumes.name} ne null" 
           data-required="true" th:placeholder="请填写您的真实姓名"  />
</div>

<!-- 增加class="enhanced"当balance大雨10000 -->
<td th:class="${customer.balance gt 10000} ? 'enhanced'" th:text="${customer.balance}">350</td>
<hr/>
<h3>下拉框</h3>根据后台数据选中select的选项
 <div class="form-group col-lg-6">
      <label >性别:</label>
      <select th:field="${resume.gender}" class="form-control" th:switch="${resumes.gender.toString()}"
            data-required="true">
              <option value="">请选择</option>
              <option value="男" th:case="'男'" th:selected="selected" >男</option>
              <option value="女" th:case="'女'" th:selected="selected" >女</option>
      </select>
 </div>
<section>因为gender是定义的Enum（枚举）类型，所以要用toString方法。用th:switch指定传出的变量,用th:case对变量的值进行匹配。！"请选择"放在第一项会出现永远选择的是这个选项。或者用th:if</section>
<div class='form-group col-lg-4'>
          <select class='form-control' name="skill[4].proficiency">
                <option >掌握程度</option>
                <option th:if="${skill.level eq '一般'}" th:selected="selected">一般</option>
                 <option th:if="${skill.level eq '熟练'}" th:selected="selected">熟练</option>
                 <option th:if="${skill.level eq '精通'}" th:selected="selected">精通</option>
           </select>
</div>


</body>
</html>
